body {
    background: linear-gradient(to bottom, #4b0082, #800080);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}

h1 {
    color: white;
    text-shadow: 2px 2px #333;
    font-size: 48px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
